.code {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.code::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.status {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 14px solid #8095ff;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    top: 0;
    right: -0.89rem;
  }
}
